.container {
  width: 100%;
  margin: 0 auto;
}

.title_container {
  display: flex;
  justify-content: space-between;
}

.title_container h1 {
  font-size: 1.3vw;
  font-weight: 600;
}

.credits_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  margin-top: 1vw;
}

.credits {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 100%;
  gap: 0.5vw;
}

.credits img {
  cursor: pointer;
}

.profile {
  border-radius: 20px;
  max-width: 100%;
}

.profile_info {
  display: flex;
  gap: 0.2vw;
  flex-direction: column;
  flex-basis: 35px;
  font-size: 1vw;
  white-space: nowrap;
}

.profile_info span:last-child {
  font-size: 0.8vw;
  color: #a0a0a0;
}
