.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: 80%;
  margin: 0 auto;
}

.poster {
  border-radius: 20px;
  max-width: 90%;
  place-self: center;
}

.title_container {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
}

.title_raiting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title_raiting h3 {
  color: #aba4a3;
  font-size: 0.8vw;
  font-weight: 600;
  letter-spacing: 0.1vw;
}

.title_raiting div span:first-child {
  font-size: 0.9vw;
}

.title_raiting div span:last-child {
  color: #aba4a3;
  font-size: 0.8vw;
}

.title_pop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title_pop h3 {
  color: #aba4a3;
  font-size: 0.8vw;
  font-weight: 600;
  letter-spacing: 0.1vw;
}

.title_pop div span {
  font-size: 0.9vw;
}

.title_date {
  display: flex;
  gap: 0.5vw;
  margin-bottom: 1vw;
}

.title_date span {
  font-size: 0.8vw;
}

.title {
  color: white;
  font-size: 2.5vw;
  font-weight: 800;
}

.genres {
  display: flex;
  gap: 1vw;
  cursor: pointer;
  margin: 1vw 0;
}

.genres span {
  border: 1px solid white;
  border-radius: 20px;
  padding: 0.2vw 0.4vw;
  font-size: 0.8vw;
}

.genres span:hover {
  background-color: white;
  color: black;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 0.5vw;
}

.intro span {
  font-size: 1.5vw;
  font-weight: 600;
}

.intro p {
  font-size: 0.8vw;
  color: #aba4a3;
  padding-left: 1vw;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.production {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1vw;
  align-items: center;
}

.production img {
  width: 30%;
}
