.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.container iframe {
  border-radius: 20px;
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;
  width: 17vw;
  height: 10vw;
}

.container iframe:hover {
  opacity: 1;
}
